# Rust & Cargo
/target
**/*.rs.bk

# IntelliJ / VSCode
.idea/
.vscode/

# Archivos de entorno
.env

# SQLite database
*.db
*.sqlite3

# Archivos temporales o de logs
*.log

# Archivos de migraciones compilados
/migration/target

# Salidas de pruebas
/coverage/

# Otros posibles archivos generados
.DS_Store
Thumbs.db
